*.a filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.abc filter=lfs diff=lfs merge=lfs -text
Assets/_Project/5-Scenes/TestScenes/Rhys_TestScene/LightingData.asset filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
Assets/_Project/1-Assets/Videos/AXIOM[[:space:]]Credits.mp4 filter=lfs diff=lfs merge=lfs -text
